/* 版心设置 */
.mw {
  width: 1200px;
  margin: 0 auto;
}
/* 引入字体图标 */
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ou61td");
  src: url("../fonts/icomoon.eot?ou61td#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ou61td") format("truetype"),
    url("../fonts/icomoon.woff?ou61td") format("woff"),
    url("../fonts/icomoon.svg?ou61td#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 快捷导航栏样式设置 */
.shortcut {
  height: 31px;
  background: #f1f1f1;
  line-height: 31px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.shortcut .mw ul li {
  font-size: 12px;
  float: left;
  margin: 0 7.5px;
}
.shortcut .fr ul li:nth-child(even) {
  width: 1px;
  height: 12px;
  background-color: #666;
  margin: 9.5px 15px;
}
.arrow_icon::after {
  content: "\e900";
  font-family: "icomoon";
  margin-left: 5px;
}
.style_red {
  color: #c81623;
}
/* 搜索栏、logo、购物车 */
.header {
  margin: 27px auto;
  height: 75px;
}
.header .middle {
  width: 538px;
  height: 75px;
  margin-left: 160px;
}
.header .logo h1 {
  font-size: 0;
}
.header .logo a {
  display: inline-block;
  height: 61px;
}
.header .fl img {
  margin-top: 7px;
}
.search {
  width: 538px;
  height: 55px;
}
.search input {
  width: 454px;
  height: 51px;
  border: 2px solid #b1191a;
  outline: none;
}
.search input[placeholder="语言开发"] {
  color: #666;
  font-size: 16px;
}
.search button {
  width: 80px;
  height: 51px;
  border: 2px solid #b1191a;
  background-color: #b1191a;
  color: #fff;
  font-size: 16px;
}
.hotwords {
  width: 538px;
  height: 20px;
}
.hotwords a {
  margin-left: 15px;
}
.hotwords a:nth-child(1) {
  color: #b1191a;
}
.header .shoppingcart {
  position: relative;
  width: 140px;
  height: 35px;
  background-color: #f7f7f7;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
}
.shoppingcart::before {
  position: absolute;
  left: 10px;
  top: 10px;
  background: url(../static/shoopingcart.png);
  width: 18px;
  height: 13px;
  content: "";
}
.shoppingcart::after {
  position: absolute;
  right: 15px;
  content: "\e902";
  font-family: "icomoon";
}
.shoppingcart .count {
  position: absolute;
  /* 不给宽度，由数量来撑开 */
  /* width: 20px; */
  height: 14px;
  top: -5px;
  left: 105px;
  padding: 0 5px;
  background-color: #c81623;
  line-height: 14px;
  color: #fff;
  border-radius: 7px 7px 7px 0;
}
/* 主页详细导航插入>符号 */
.detail ul a::after {
  position: absolute;
  right: 10px;
  content: "\e902";
  font-family: "icomoon";
}
footer {
  height: 420px;
  margin-top: 38px;
  background-color: #f5f5f5;
}
footer .ft_service {
  height: 110px;
  border-bottom: 1px solid #ededed;
}
.ft_service ul li {
  float: left;
  margin-top: 30px;
  width: 240px;
  height: 50px;
}
.ft_service ul li .ft_icon1 {
  float: left;
  margin: 0 8px 0 38px;
  width: 50px;
  height: 50px;
  background: url(../static/icons.png) -252px -2px;
}
.ft_service ul li .ft_icon2 {
  float: left;
  margin: 0 8px 0 38px;
  width: 50px;
  height: 50px;
  background: url(../static/icons.png) -254px -53px;
}
.ft_service ul li .ft_icon3 {
  float: left;
  margin: 0 8px 0 38px;
  width: 50px;
  height: 50px;
  background: url(../static/icons.png) -256px -105px;
}
.ft_service ul li .ft_icon4 {
  float: left;
  margin: 0 8px 0 38px;
  width: 50px;
  height: 50px;
  background: url(../static/icons.png) -257px -157px;
}
.ft_service ul li .ft_icon5 {
  float: left;
  margin: 0 8px 0 38px;
  width: 50px;
  height: 50px;
  background: url(../static/icons.png) -257px -209px;
}
.ft_service_txt h4 {
  margin-top: 5px;
  font-size: 14px;
}
.ft_service_txt p {
  font-size: 12px;
}
.ft_help {
  height: 190px;
  border-bottom: 1px solid #ededed;
}
.ft_help dl {
  float: left;
  width: 240px;
  padding-left: 50px;
}
.ft_help dt {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.ft_help .app {
  width: 94px;
  height: 94px;
  background: url(../static/app.png);
  margin-left: -14px;
  margin-bottom: 10px;
}
.ft_copright {
  height: 100px;
}
.ft_copright ul {
  height: 16px;
  margin: 16px 0 0 120px;
}
.ft_copright ul li {
  float: left;
  line-height: 16px;
}
.ft_copright ul li:nth-child(even) {
  width: 1px;
  height: 16px;
  background-color: #999;
  margin: 0 16px;
}
.ft_copright p {
  margin-top: 5px;
  text-align: center;
}
